.navigation {
  display: flex;
  height: 100px;
  max-width: 1200px;
  justify-content: space-between;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-block: 25px;
  align-items: center;

  .logo-container {
    height: auto;
    width: clamp(250px,300px,450px);
    padding: 5px;

    .logo {
      width: 100%;
      height: 100%;
    }
  }

  .nav-links-container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .nav-link {
      padding: 10px 15px;
      cursor: pointer;
      font-size: 20px;
      color: #999; // par défaut gris
      text-decoration: none;
      transition: color 0.3s ease;

        &:hover {
          color: black;
          font-weight: 400; // au survol → noir
        }

        &.active {
          color: black; // le lien actif est noir
          font-weight: 400;
        }
    }
  }

  /* Bouton hamburger (caché par défaut) */
  .hamburger {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

    span {
      width: 25px;
      height: 3px;
      background-color: black;
      transition: all 0.3s ease;
    }

    &.active span:nth-child(1) {
      transform: rotate(45deg) translate(5px, 5px);
    }

    &.active span:nth-child(2) {
      opacity: 0;
    }

    &.active span:nth-child(3) {
      transform: rotate(-45deg) translate(5px, -5px);
    }
  }

  @media (max-width: 768px) {

    .hamburger {
      display: flex;
    }

    .logo-container {
      width: clamp(180px, 220px, 280px);
      padding: 3px;
    }

        .nav-links-container {
          position: absolute;
          top: 90px;
          right: 0;
          display: flex; // toujours présent
          flex-direction: column;
          width: 200px;
          padding: 1rem;
          background-color: white;
          box-shadow: 0 4px 6px rgba(0, 0, 0, .1);
          z-index: 1000;

          /* état fermé */
          transform: translateX(110%); // hors écran
          opacity: 0;
          visibility: hidden; // évite la navigation au clavier
          pointer-events: none; // évite les clics
          transition: transform .3s ease-in-out, opacity .2s ease;
          will-change: transform, opacity;
        }

        .nav-links-container.open {
          transform: translateX(0);
          opacity: 1;
          visibility: visible;
          pointer-events: auto;
          height: 110px;
        }
  }

  @media (max-width: 480px) {
    .logo-container {
      width: clamp(140px, 180px, 220px);
      padding: 2px;
    }

    .hamburger {
      margin-left: 10px;
    }
  }
}
