.project-detail_hero {
  width: 100%;
  height: auto;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;

  .project-detail_image {
    width: 100%;
    height: auto;
    object-fit: cover;
    object-position: center;
  }
}

// Tablette
@media (max-width: 1024px) {
  .project-detail_hero {
    height: auto;
  }
}

// Mobile
@media (max-width: 768px) {
  .project-detail_hero {
    height: auto;
  }
}

// Petit mobile
@media (max-width: 480px) {
  .project-detail_hero {
    height: auto;
  }
}
