@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

html {
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: black;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-weight: 600;
}

h2,
h3 {
  font-family: 'Montserrat', sans-serif;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  padding-left: 1rem;
  padding-right: 1rem;
}
