.container {
  .partners {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 15px;

    img {
      max-width: 194px;
      height: auto;
      object-fit: contain;
      flex-shrink: 1;
      min-width: 0;
    }
  }
  .divider {
    margin-top: 40px;
    border-top: 1px solid #606060; // la ligne
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .container {
    .partners {
      justify-content: center;
      gap: 10px;
    }
  }
}
