.project-detail_wrapper {
  display: block;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding-top: 30px;
  padding: 30px 20px;



  .project-detail_body p {
    white-space: pre-line;
    padding-bottom: 30px;
    text-align: justify;
  }
}
