.project-detail_wrapper {
  display: block;
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
  padding-left: 1rem;
  padding-right: 1rem;

  .project-detail_body p {
    white-space: pre-line;
    padding-bottom: 50px;
    text-align: justify;
  }
}
