.container {
  padding-block: 50px;

  .partners {
    display: flex;
    flex-direction: row;
    gap: 1rem;

    img {
      max-width: 230px;
      height: auto;
      object-fit: contain;
    }
  }
}
