.about-content {
    h2 {
      padding-block: 50px;

      &:first-of-type {
          padding-top: 0; // annule le padding du haut
        }
    }

  p {
    white-space: pre-line;
    text-align: justify;

    b {
      font-weight: 600;
    }
  }
 }
